# Environment
.env
.venv/
venv/

# Input
data_raw/

# Python cache
__pycache__/
*.py[cod]

# Distribution
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Tests content
tests/Core Tables/*
!tests/Core Tables/.gitkeep

tests/Infrastructure Tables/*
!tests/Infrastructure Tables/.gitkeep

tests/Inventory Tables/*
!tests/Inventory Tables/.gitkeep

tests/Payroll/*
!tests/Payroll/.gitkeep